body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

.navbar-inverse {
    margin-bottom: 0px;
}

#left_panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    width: 50%;
    background: transparent;
}

#right_panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    color: #fff;
    background: transparent;
}

#drag {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 16px;
    cursor: col-resize;
    background-color: black;
    height: 100%;
}

#visualization {
    max-width: 100%;
    max-height: 100%;
}

#top-half {
    padding-left: 0px;
    padding-right: 0px;
}

/*Cobalt Theme Override*/
.cm-s-cobalt.CodeMirror {
    height: 100%;
}

/*Bootstrap override*/

.btn-toolbar {
    background: #131313;
    margin-left: -20px;
    margin-right: -20px;
}

.btn.sharp {
    border-radius: 0;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: #131313;
    color: white;
}

.btn-secondary:hover {
    background-color: #252525;
    color: white;
}

/* Ace editor overrides */

.ace_content{
    background: #011e3a;
}

.ace_gutter-layer{
    background: #01172c;
}

div#top-half.col-lg-12.hor-half{
    background: white;
}