body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

.navbar-inverse {
    margin-bottom: 0px;
}

#left_panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    width: 50%;
    background: transparent;
}

#right_panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    color: #fff;
    background: transparent;
}

#drag {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 16px;
    cursor: col-resize;
    background-color: black;
    height: 100%;
}

#visualization {
    max-width: 100%;
    max-height: 100%;
}

#top-half {
    padding-left: 0px;
    padding-right: 0px;
}

/*Cobalt Theme Override*/
.cm-s-cobalt.CodeMirror {
    height: 100%;
}

/*Bootstrap override*/

.col-lg-12 {
    text-align: center
}

.btn-toolbar {
    background: #131313;
    margin-left: -20px;
    margin-right: -20px;
    display: inline-block;
}

.btn.sharp {
    border-radius: 0;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    margin-right: 2px;
    background-color: #ce0606;
    color: white;
}

.btn-secondary:hover {
    background-color: #c10d0d;
    color: white;
}

/* Ace editor overrides */

.ace_content{
    background: #011e3a;
}

.ace_gutter-layer{
    background: #01172c;
}

#progress{
    color: white;
    padding-top: 7px;
}

#mode{
    color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
