<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
{% include 'nav.html' %}


<!-- Visualizer Row -->
<div class="col-lg-12 hor-half" id="top-half">
    <div id="visualization"></div>
</div>
<!-- /.Visualizer Row -->

<div class="col-lg-12">


    <div class="btn-toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary sharp" id="drawTestPath"> Draw Test Path</button>
            <button type="button" class="btn btn-secondary sharp" id="clear"> Clear</button>
            <button type="button" class="btn btn-secondary sharp" id="draw-upload"> Draw</button>
        </div>
        {#        <div class="btn-group" role="group">#}
        {#            <button type="button" class="btn btn-secondary dropdown-toggle sharp"#}
        {#                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
        {#                Dropdown#}
        {#            </button>#}
        {#            <div class="dropdown-menu " aria-labelledby="btnGroupDrop1">#}
        {#                <a class="dropdown-item" href="#">Dropdown link</a>#}
        {#                <a class="dropdown-item" href="#">Dropdown link</a>#}
        {#            </div>#}
        {#        </div>#}
        <div class="btn-group" role="group">

        </div>
        <div class="btn-group">
            <fieldset>
                <label class="btn btn-primary btn-block btn-file sharp">
                    Upload File <input id="upload-file" name="file" type="file" style="display: none;">
                </label>
            </fieldset>
        </div>
        <div class="btn-group">
            <fieldset>
                <label class="btn btn-primary btn-block btn-file sharp">
                    Download File <input id="download-file" style="display: none;">
                </label>
            </fieldset>
        </div>
    </div>
</div>

<!-- IDE Row -->
<div class="col-lg-12 hor-half">

    <!-- Left IDE -->
    <div id="container">
        <div id="left_panel"></div>
    </div>


    <!-- Right IDE -->
    <div id="right_panel">
        <div id="drag"></div>
    </div>

</div>

</div>
<!-- /.IDE Row -->


</body>

<!-- Project Structure Javascript -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/dependencies/AceEditor/src-min-noconflict/ace.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/dependencies/AceEditor/src-min-noconflict/ext-language_tools.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/codeEditorInit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/englishInterpreter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/editors.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dependencies/OrbitControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dependencies/TrackballControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/socketio.js') }}"></script>


</html>