<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
{% include 'nav.html' %}

<!-- Page Content Row -->
{#<div class="container">#}

    <!-- Visualizer Row -->
    <div class="col-lg-12 hor-half" id="top-half">
        <div id="visualization"></div>
    </div>
    <!-- /.Visualizer Row -->

    <!-- IDE Row -->
    <div class="col-lg-12 hor-half">

        <!-- Left IDE -->
        <div id="container">
            <div id="left_panel">
            </div>
        </div>


        <!-- Right IDE -->
        <div id="right_panel">
            <div id="drag"></div>
        </div>

    </div>
    <!-- /.IDE Row -->


{#</div>#}
<!-- /.container -->

</body>

<!-- Project Structure Javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/containers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dependencies/OrbitControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/visualizer.js') }}"></script>


</html>