<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
{% include 'nav.html' %}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Dimitri GCode 5150 Project</h1>
            <p>In progress...</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

</body>

<!-- Socketio js example -->
<script type="text/javascript" src="{{ url_for('static', filename='js/socketio.js') }}"></script>

</html>