<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
{% include 'nav.html' %}

<!-- Page Content -->
<div id="visualization"></div>
<!-- /.container -->

</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/dependencies/OrbitControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dependencies/dat.gui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/visualizer.js') }}"></script>

</html>